<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="PillPal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookLibraryApp"
        tools:targetApi="31">
        <activity
            android:name=".calendar.EventEditActivity"
            android:exported="false" />
        <activity
            android:name=".WeekViewActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register"
            android:parentActivityName=".LoginActivity" />
        <activity
            android:name=".UpdateActivity"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddActivity"
            android:exported="false"
            android:label="Add Book"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Pill Pal" />
        <activity
            android:name=".calendar.CalendarActivity"
            android:exported="true"
            android:label="Calendar"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>